@model List<CarTroubleSolver.Logic.Dto.Accident.AccidentAdvertisementDto>
@using CarTroubleSolver.Data.Models.Enums;
@{

    ViewData["Title"] = "Home Page";

    

    string GetSeverityColor(CollisionSeverity severity)
    {
        switch (severity)
        {
            case CollisionSeverity.Severe:
                return "danger";
            case CollisionSeverity.Minor:
                return "warning";
            default:
                return "primary";
        }
    }
}

<div class="text-center homeCenter">
    @if (User.Identity.Name != null)
    {
        
        <form method="post" asp-action="Index" asp-controller="Home" class="FilterAccidents">
            <div class="d-flex flex-row mb-3">
                <div class="form-group col-3 p-2">
                    <select id="CollisionSeverity" name="severity" class="form-control">
                            <option value="">Select a Severity</option>
                            @foreach (var severity in Enum.GetNames(typeof(CollisionSeverity)))
                            {
                                <option value="@severity.ToString()">@severity</option>
                            }
                        </select>
                    </div>


                <div class="form-group col-3 p-2">
                    <select id="CarBrand" name="brand" class="form-control">
                            <option value="">Select a Car Brand</option>
                            @foreach (var brand in Enum.GetNames(typeof(CarBrand)))
                            {
                            <option value="@brand.ToString()">@brand</option>
                            }
                        </select>
                    </div>
                <button id="submitBtn" type="submit" class="btn btn-secondary secondary-button">Filter</button>

                <a asp-controller="Home" asp-action="Index"><button type="button" class="btn btn-info info-button m-2">Refresh List</button></a>
            </div>
            
            

        </form>

        @if (Model != null)
        {
        <div class="container mt-4">
            <div class="row">
                @foreach (var accident in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Collision: @accident.CollisionSeverity</h5>
                                <p class="card-text">Applicant Name: @accident.ApplicantUserInfo.Name</p>
                                <p class="card-text">Car Brand: @accident.CarInfo.Brand</p>
                                <p class="card-text">Car Model: @accident.CarInfo.CarModels</p>
                                <p class="card-text">Car Engine Type: @accident.CarInfo.EngineType</p>
                                <p class="card-text">Car Mileage: @accident.CarInfo.Mileage</p>
                                <a asp-area="" asp-controller="Accident" asp-action="AccidentDetails"
                                   asp-route-accidentId="@accident.Id" class="btn btn-@GetSeverityColor(accident.CollisionSeverity)">Click for details</a>

                             </div>
                        </div>
                    </div>
                }
            </div>
            </div>

            <div class="container">

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        @for (int i = 1; i <= (int)ViewData["TotalPages"]; i++)
                        {
                            <li class="page-item @(i == (int)ViewData["CurrentPage"] ? "active" : "")">
                                <a class="page-link"
                                   asp-action="Index"
                                   asp-route-page="@i"
                                   asp-route-pageSize="@ViewData["PageSize"]">@i</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        }
        else
        {
            <h4>You Don't have an accident to help.</h4>
        }

    }
    else
    {
        <h4> Log in to our service to see accidents</h4>
    }
</div>

