@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using CarTroubleSolver.Logic.Dto.Cars;
@using CarTroubleSolver.Data.Models.Enums;

@{
    IEnumerable<CarDto> cars = ViewBag.Cars;
}


<div>
    <select id="selectedCar" name="selectedCar" class="form-control">
        <option value="">Select a Car</option>
        @foreach (var car in cars)
        {
            <option value="@car.Brand @car.CarModels @car.Mileage @car.FuelType @car.Color"><strong>Brand:</strong> @car.Brand; <strong>Model:</strong> @car.CarModels; <strong>Mileage:</strong> @car.Mileage; <strong>FuelType:</strong> @car.FuelType; <strong>Color:</strong> @car.Color</option>
        }
    </select>

    <select id="selectSevrity" name="selectSeverity" class="form-control">
        <option value="">Select a severity</option>
        @foreach (var severity in Enum.GetNames(typeof(CollisionSeverity)))
        {
            <option value="severity">@severity</option>
        }
    </select>

</div>