
@using CarTroubleSolver.Logic.Dto.Cars;
@using CarTroubleSolver.Data.Models.Enums;

@model CarTroubleSolver.Logic.Dto.Accident.WebAccidentRequestDto
@{
    bool selectedCar = false;

   
}




<form method="post" asp-action="SendRequest" asp-controller="Accident" class="formAccident">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label for="selectedCar">Select a Car</label>
        <select id="selectedCar" asp-for="SelectedCar.Id" class="form-control">
            <option value="">Select a Car</option>
            @foreach (var car in ViewBag.Cars) 
            {
                <option value="@car.Id">Brand: @car.Brand; Model: @car.CarModels; Mileage: @car.Mileage; Fuel Type: @car.FuelType; Color: @car.Color</option>
            }
        </select>
        <span asp-validation-for="SelectedCar.Id" class="text-danger"></span>
    </div>
    

    <div class="form-group">
        <label for="CollisionSeverity">Select a Severity</label>
        <select id="CollisionSeverity" asp-for="CollisionSeverity" class="form-control">
            <option value="">Select a Severity</option>
            @foreach (var severity in Enum.GetNames(typeof(CollisionSeverity)))
            {
                <option value="@severity">@severity</option>
            }
        </select>
        <span asp-validation-for="CollisionSeverity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Description">Accident Description</label>
        <textarea id="Description" asp-for="AccidentDescription" class="form-control"  rows="5"></textarea>
        <span asp-validation-for="AccidentDescription" class="text-danger"></span>
    </div>

    <button id="submitBtn" type="submit" class="btn btn-success primary-button">Send Request</button>
</form>
