
@using CarTroubleSolver.Logic.Dto.Cars;
@using CarTroubleSolver.Data.Models.Enums;

@model CarTroubleSolver.Logic.Dto.Accident.AccidentDto
@{
    IEnumerable<CarDto> cars = ViewBag.Cars;
}


<div>
    <form method="post" asp-area="" asp-action="AccidentRequest" asp-controller="Accident">

        <select id="selectedCar" name="carId" class="form-control">
            <option value="">Select a Car</option>
            @foreach (var car in cars)
            {
                <option value="@car.Brand; @car.CarModels; @car.Mileage; @car.FuelType; @car.Color">@car.Brand; @car.CarModels; @car.Mileage; @car.FuelType; @car.Color</option>
            }
        </select>

        <select id="CollisionSeverity" name="CollisionSeverity" class="form-control">
            <option value="">Select a severity</option>
            @foreach (var severity in Enum.GetNames(typeof(CollisionSeverity)))
            {
                <option value="@severity">@severity</option>
            }
        </select>

        <textarea asp-for="AccidentDescription" id="Description" name="AccidentDescription" rows="2"></textarea>

        <button type="submit" class="btn btn-success primary-button">Send Request</button>
    </form>
</div>
