
@model CarTroubleSolver.Logic.Dto.User.LogedInUserDto;

@{
}



<div>
    <table class="table table-striped w-25">
        <tbody>
            <tr>
                <th>Name</th>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>@Model.Surname</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td>@Model.PhoneNumber</td>
            </tr>
            <tr>
                <th>Date Of Birth</th>
                <td>@Model.DateOfBirth</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <table class="table table-striped w-25">
        <tbody>
            <tr>
                <th>Name</th>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>@Model.Surname</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td>@Model.PhoneNumber</td>
            </tr>
            <tr>
                <th>Date Of Birth</th>
                <td>@Model.DateOfBirth</td>
            </tr>
        </tbody>
    </table>
</div>